/* folder selection button css ccode */

.get-started-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.get-started-btn:hover {
    background-color: #0056b3;
}

.input-container {
    margin-bottom: 15px;
}

.input-container input[type="text"] {
    width: calc(100% - 120px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-container button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #2196f3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.input-container button:hover {
    background-color: #2196F3!;
}
